.add-todo-page {
  margin: 2rem auto;
  background-color: aliceblue;
  width: 80%;
  padding: 2rem;
}
.add-todo-form {
  display: flex;
  flex-direction: column;
}

.add-todo-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  background-color: blue;
  width: 7rem;
}