
ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 3rem;
}

li {
  list-style: none;
}

.btns {
  display: flex;
}
.nav-btn1 {
  background-color: rgba(45, 127, 45, 0.739);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-btn2 {
  background-color: rgba(146, 105, 28, 0.719);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  text-decoration: none;
}